@import "./commonFn.scss";
@-webkit-keyframes scale {
  0% {
    @include transform(scale(1));
  }
  100% {
    @include transform(scale(1.1));
  }
}
@keyframes scale {
  0% {
    @include transform(scale(1));
  }
  100% {
    @include transform(scale(1.1));
  }
}

@-webkit-keyframes circleMoveTop {
  0% {
    left: 490px;
    top: 8px;
  }
  5% {
    left: 490px;
    top: -3px;
  }
  95% {
    top: -3px;
    left: -4px;
  }
  100% {
    top: 8px;
    left: -4px;
  }
}
@keyframes circleMoveTop {
  0% {
    left: 490px;
    top: 8px;
  }
  5% {
    left: 490px;
    top: -3px;
  }
  95% {
    top: -3px;
    left: -4px;
  }
  100% {
    top: 8px;
    left: -4px;
  }
}
@-webkit-keyframes circleMoveBottom {
  0% {
    left: -4px;
    top: -3px;
  }
  5% {
    left: -4px;
    top: 10px;
  }
  95% {
    left: 490px;
    top: 10px;
  }
  100% {
    left: 490px;
    top: -3px;
  }
}
@keyframes circleMoveBottom {
  0% {
    left: -4px;
    top: -3px;
  }
  5% {
    left: -4px;
    top: 10px;
  }
  95% {
    left: 490px;
    top: 10px;
  }
  100% {
    left: 490px;
    top: -3px;
  }
}
.p-library {
  position: relative;
  padding-top: 108px;
  width: 1920px;
  height: 1080px;
  background-image: url("../img/library/bg.jpg");
  background-repeat: no-repeat;
  background-position: left top;

  .icon-circle {
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: rgb(4, 225, 253);
    border-radius: 50%;
    z-index: 0;
  }
  .top-title {
    margin: 0 auto 30px;
    width: 1669px;
    height: 95px;
    background-image: url("../img/library/title1.png");
    background-repeat: no-repeat;
    background-position: left top;
  }
  .container {
    margin: 0 66px 0 89px;
    display: flex;
    .title {
      display: block;
    }
    .c-left {
      .video-container {
        position: relative;
        margin-top: 35px;
        padding-top: 25px;
        width: 853px;
        height: 640px;
        background-image: url("../img/library/video-bg.png");
      }
      .apply-tool {
        position: absolute;
        top: -13px;
        left: 307px;
        height: 14px;
        .icon-top1 {
          position: absolute;
          left: -44px;
          bottom: -8px;
          width: 88px;
          height: 18px;
          background-image: url("../img/library/icon-top1.png");
          background-size: 100% 100%;
          @include animation(scaleX 2s linear 0s infinite alternate);
        }
        .icon-top2 {
          position: absolute;
          right: -18px;
          bottom: -8px;
          width: 36px;
          height: 18px;
          background-image: url("../img/library/icon-top2.png");
          @include animation(scaleX 2s linear 0s infinite alternate);
        }
        .icon-circle {
          left: 490px;
          top: 8px;
          @include animation(circleMoveTop 2s linear 0s infinite);
        }
      }
      .apply-tool-bottom {
        position: absolute;
        bottom: -13px;
        left: 137px;
        height: 14px;
        .icon-bottom1 {
          position: absolute;
          left: -18px;
          top: -8px;
          width: 36px;
          height: 18px;
          background-image: url("../img/library/icon-bottom1.png");
          @include animation(scaleX 2s linear 0s infinite alternate);
        }
        .icon-bottom2 {
          position: absolute;
          right: -44px;
          top: -8px;
          width: 88px;
          height: 18px;
          background-image: url("../img/library/icon-bottom2.png");
          @include animation(scaleX 2s linear 0s infinite alternate);
        }
        .icon-circle {
          left: 490px;
          top: 8px;
          @include animation(circleMoveBottom 2s linear 0s infinite);
        }
      }
      .video-box {
        position: relative;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        width: 780px;
        height: 578px;
        background-color: #000;
        cursor: pointer;
        .play-btn {
          position: absolute;
          @include animation(scale 2s linear 0s infinite alternate);
        }
        #video {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    .c-right {
      margin-left: 40px;
      .conatiner {
        display: flex;
      }
      .plan-list {
        margin-top: 15px;
        .min-title {
          margin-bottom: 10px;
        }
        .plan-item {
          position: relative;
          margin-bottom: 17px;
          width: 425px;
          height: 133px;
          background-repeat: no-repeat;
          background-position-x: 10px;
          &.plan-item1 {
            background-image: url("../img/library/plan1.png");
          }
          &.plan-item2 {
            background-image: url("../img/library/plan2.png");
          }
          &.plan-item3 {
            background-image: url("../img/library/plan3.png");
          }
          &.plan-item4 {
            background-image: url("../img/library/plan4.png");
          }
          .icon-circle {
            left: 21px;
            top: 8px;
          }
          .img-cover,
          .img-box {
            position: absolute;
            top: 11px;
            left: 0;
            width: 100px;
            height: 100px;
            z-index: 1;
          }
          .img-cover {
            z-index: 2;
          }
          .img-box {
            overflow: hidden;
            img {
              display: block;
              width: 100%;
              height: 100%;
              @include animation(scale 2s linear 0s infinite alternate);
            }
          }
        }
      }
      .content-list {
        margin: 15px 0 0 20px;
        .min-title {
          margin-bottom: 10px;
        }
      }
    }
  }
}
